.frm{
    display: flex;
    justify-content: space-between;
    margin: 5% 15% 0 15%;
    font-size: medium;
    flex-wrap: wrap;
    border: 5px black solid;
    height: 1000px;
}
.frm > label{
    color: brown;
    
}
.frm > input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content:start;
	margin: 55px auto;
	padding: 20px;
	border: 1px solid black;
	outline: none;
	border-radius: 5px;
}